/* the row was causing throwing */
.row {
  --bs-gutter-x: 0;
}
/* .btn-close {
  color: white !important;
} */
.modal-content { 
   width: 70%;
   margin: auto;
}
.form-label-contact {
  display: flex;
  justify-content: flex-start;
  margin-top: 4%;
  margin-bottom: 4%;
}
.message-btn-modal {
  text-transform: none;
  letter-spacing: 1px;
  font-weight: 200 !important;
  font-size: 1.2rem !important;
}
.message-btn-modal:hover {
  text-transform: none;
  transition: 0.3s;
}
.message-textarea {
  min-height: 100px !important;
  font-style: oblique;
}
.contact-me-button {
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 200;
  }
  .contact-me-button:hover {
    background-color: rgb(24, 68, 68) !important;
    transition: 0.3s;
    color: white;
  }
@media screen and (max-width: 414px) {
  .container-dashboard {
    width: 98%;
    margin-right: auto;
    margin-left: auto;
  }
  .message-btn-modal {
    font-size: 1rem !important;
  }
  .message-btn-modal:hover {
    font-size: 1rem !important;
  }
}
