.about-main {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 1, 1, 0.8);
  margin-top: 5%;
  padding: 5%;
}
.choo {
  display: flex;
  justify-content: center;
}
.responsive {
  max-width: 30%;
  height: auto;
  aspect-ratio: 1 / 1;
  background-position: cover;
  border-radius: 50%;
}

@media screen and (max-width: 414px) {
  .nancy {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 2%;
  }
  .about-main {
    width: 95% !important;
  }
  .about-main-media {
    background-color: none;
  }
}
