.card-visit {
    border-radius: 10px;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row-visit {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.visit {
    margin: 5%;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    border: none;
    text-align: center;
}

.appointment-for {
    width: 100%;
    text-align: center;
}

.validate 
.validate1 {
    display: none;
    color: green;
    /* margin-top: 7px; */
    margin-right: 15px;
    margin-left: 15px;
}

.invalidate
.invalidate1 {
    /* margin-top: 7px; */
    color: red;
    margin-right: 15px;
    margin-left: 15px;

}

.date-picker {
    margin: 5%;
    width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.choose-date {
    margin-top: 10%;
}

.button-visit {
    margin-top: 9%;
    width: 100%;
    text-align: center;
    /* margin-bottom: 15%; */

}