.go-back {
  margin-top: 5%;
}
.btn-go-back {
  font-size: 1.2rem;
  text-decoration: none;
  background-color: black;
  width: 200px;
  border-radius: 25px;
  border: 0;
}
.btn-go-back:hover {
  background-color: rgb(24, 68, 68);
  border: solid;
  border-color: rgb(72, 206, 206);
  border-width: 1px;
  transition: 0.5s;
}
.container-signup {
  margin-top: 12%;
  background-color: rgba(0, 1, 1, 0.8);
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
.signup {
  --bs-card-border-width: 0;
  background: rgb(131, 232, 245);
  background: rgba(131, 232, 245, 0.4);
  /* padding: 5%; */
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}
.sign-form {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  font-style: oblique;
  display: flex;
  flex-direction: column;
}
.btn-position {
  display: flex;
  justify-content: flex-end;
}
.btn-signup {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  font-style: normal;
}
.btn-signup:hover {
  background-color: rgb(24, 68, 68);
  transition: 0.3s;
  color: white;
}
/* .success-container { */
/* background-color: rgba(0, 1, 1, 0.8) !important; */
/* background-color: rgba(131, 232, 245, 0.4); */
/* margin-right: auto; */
/* margin-left: auto; */
/* animation: fadeInSuccess 0.5s linear forwards; */
/* padding: 5%; */
/* margin-top: 14%; */
/* width: 30%; */
/* margin-right: auto;
  margin-left: auto; */
/* } */

/* @keyframes fadeInSuccess {
  from {
    backgound: rgba(131, 232, 245, 0.05);
    color: rgba(255, 255, 255, 0.05);
  }
  to {
    background: rgba(131, 232, 245, 0.4);
    color: rgba(255, 255, 255, 1);
  }
} */
@media screen and (max-width: 800px) {
  .container-signup {
    width: 90%;
    padding-top: 1px;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: none;
    margin-bottom: 10%;
  }
  .signup {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    --bs-card-border-width: 0;
    background-color: rgba(252, 252, 252, 0.4);
  }
  .container-signup {
    position: relative;
    /* width: 450px; */
  }
  .success-container {
    padding: 5%;
    margin-top: 14%;
    width: 30% !important;
    /* margin-right: auto;
  margin-left: auto; */
  }
}

@media screen and (max-width: 414px) {
  .container-signup {
    width: 100%;
    margin-top: 10%;
    box-shadow: none;
    margin-bottom: 12%;
  }
  .signup-login-error {
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
  }
  .signup {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    --bs-card-border-width: 0;
    /* background-color: rgba(252, 252, 252, 0.6); */
  }
}
