.signup {
    width: 40%;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
}

.form-input {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    font-style: oblique;
}

.text-label {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin: 15px;
}

@media screen and (max-width: 414px) {
    .signup {
        width: 90%;
        margin-top: 10%;
        margin-right: auto;
        margin-left: auto;
        box-shadow: none;
    }
}