.signup {
    width: 40%;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
}
.signup-header {
    text-align: center;
}
.form-input {
    padding: 5px;
    font-style: oblique;
    background-color: #f7f7f9;
    border-style: none;
}

@media screen and (max-width: 800px) {
    .signup {
        width: 90%;
        margin-top: 10%;
        margin-right: auto;
        margin-left: auto;
        box-shadow: none;
        margin-bottom: 10%;
    }
}
@media screen and (max-width: 414px) {
    .signup {
        width: 90%;
        margin-top: 10%;
        margin-right: auto;
        margin-left: auto;
        box-shadow: none;
        margin-bottom: 10%;
    }
}