.modal-title-delete {
  margin-left: 15%;
}

.sure {
  text-align: center;
}
.top-level {
  width: 95%;
  display: flex;
  justify-content: flex-end !important;
}
.btn-modal {
  width: 10%;
  margin: auto;

}
.modal-content {
  background: rgb(131, 232, 245);
  background: rgba(131, 232, 245, 0.4);
}
.btn-login {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  font-style: normal;
}
.btn-login:hover {
  background-color: rgb(24, 68, 68) !important;
  transition: 0.3s;
  color: white;
}
@media screen and (max-width: 414px) {
  .btn-modal {
    width: 95%;
  }
  .modal-title-delete {
    margin-left: 9%;
    text-align: center;
  }
  .update-modal {
    width: 25%;
    margin: auto;
  }
}
