.modal-title-delete {
  margin-left: 15%;
}
.sure {
  text-align: center;
}
.top-level {
  display: flex;
  justify-content: flex-end !important;
}
.btn-modal {
  width: 10%;
  margin: auto;
}
@media screen and (max-width: 414px) {
  .btn-modal {
    width: 100%;
  }
  .modal-title-delete {
    margin-left: 9%;
    text-align: center;
  }
}
