.dashboard-main {
    width: 100%;
}
.container-dashboard {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.dashboard-text {
    text-decoration: hiden;
}

.ds-btns {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: black;
}

.suggestion {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.write-review-title {
    text-align: center;
}

.review-border {
    padding-right: 3%;
    border-right-style: solid;
}

.write-review {
    padding-left: 3%;
}

@media screen and (max-width: 414px) {
    .dashboard-main {
        margin-top: -5%;
    }
    .container-dashboard {
        width: 96%;
        margin-right: auto;
        margin-left: auto;
    }

    .direct-message {
        width: 97%;
    }

    .suggestion {
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .review-border {
        padding-right: 0;
        border-right-style: none;
    }
    
    .write-review {
        padding-left: 0;
    }
}