.container-update {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}
/* .card-visitor {
    padding-top: 1%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
.update-title {
    margin-top: 10%;
}

.update-fields {
    padding: 1%;
}

.profile {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    border-style: double;
    border-width: 5px;
    border-color: white;
    border-radius: 20px;
}

.phone-number {
    width: 100%;
    font-style: oblique;
    width: 100%;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #55595c;
    background-color: #f7f7f9;
    background-clip: padding-box;
    border: 0 solid #ced4da;
}
.btn-primary {
    margin: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.success {
    margin-top: 40%;
    margin-bottom: 60%;
    font-size: 2rem;
}
.fa-check {
    color: green;
    border: solid;
    padding: 3%;
    border-radius: 50%;
}
@media screen and (max-width: 414px) {
    .container-update {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
}
