.container-review,
.containerno-history {
  width: 80%;
  margin: auto;
}
.media-title {
  display: flex;
  justify-content: space-between;
  width: 69%;
}
.no-review-history {
  border-style: double !important;
  border: solid;
  height: 200px;
}
.review-list {
  border-radius: 10px;
}
.header-design {
  border-radius: 10px;
}
.review-border {
  padding-right: 5%;
}
.review-list {
  background: rgba(131, 232, 245, 0.05);
}
.review-list {
  animation: fadeInSuccess 0.4s linear forwards;
}
@keyframes fadeInSuccess {
  from {
    background: rgba(131, 232, 245, 0.05);
    color: rgba(255, 255, 255, 0.05);
  }
  to {
    background: rgba(131, 232, 245, 0.4);
    color: rgba(255, 255, 255, 1);
  }
}
@media screen and (max-width: 680px) {
  .review-list-title {
    text-align: center;
  }
}
@media screen and (max-width: 414px) {
  .container-review {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1% !important;
  }
  .review-border {
    padding: 0;
  }
  .media-title {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
  }
  .review-list-title {
    margin: 0 !important;
    display: flex;
    align-items: center;
  }
  .card-media {
    width: 95%;
    margin: auto;
  }
  .no-review-history {
    border-style: double !important;
    border: solid;
    height: 200px;
    width: 95%;
    margin: auto;
  }
}
