.container-update {
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 1, 1, 0.8);
  width: 90%;
  color: white !important;
  min-height: 50vh;
}
.update-profile-card {
  width: 40%;
  margin: auto;
}
.phone-error {
  height: 60px;
  display: flex;
  align-items: center;
  margin-left: 1%;
}

.card-header-update {
  text-align: center;
  font-weight: 300;
}

.profile {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  border-style: double;
  border-width: 5px;
  border-color: white;
  border-radius: 20px;
}

.btn-update {
  margin-top: 5%;
 width: 100%;
  letter-spacing: 2%;

}
.btn-update:hover {
  background-color: rgb(24, 68, 68) !important;
  transition: 0.3s;
  color: white;
}

.update-error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
}
.modify-media {
  padding-right: 5%;
  padding-left: 5%;
  text-align: center;
  letter-spacing: 2px;
}
.phone-update {
  margin-bottom: 20% !important;
}
@media screen and (max-width: 600px) {
  .update-error {
    text-align: center;
    height: 55px;
  }
}
@media screen and (max-width: 414px) {
  .container-update {
    padding-right: 5%;
    padding-left: 5%;
    margin-right: auto;
    margin-left: auto;
  }
  .container-update {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }
  .update-profile-card {
    width: 100% !important;
  }
.phone-update {
  margin-bottom: 20% !important;
}
}
