.container-profile {
    margin-top: 8%;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
.my-profile {
    text-align: center;
    /* margin: 10%; */
}
/* .profile-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
.profile {
    width: 100%;
}
/* .profile-body {
   background-color: rgba(0, 0, 0, 0.03);
} */
.delete-user {
    margin-top: 6%;
}

@media screen and (max-width: 414px) {
    .container-profile {
        margin-top: 8%;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
    /* .profile-card {
        width: 90%;
        margin-top: 10%;
        margin-right: auto;
        margin-left: auto;
        box-shadow: none;
    } */
}