.container-profile {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
/* .my-profile-box {
    border-radius: 0;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
.my-profile {
    text-align: center;
    margin: 10%;
}
/* .profile-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
.profile {
    width: 100%;
}
/* .row-profile {
    border: solid;
    padding: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

.delete-user {
    margin-top: 6%;
}
.confirm-delete {
    margin-top: 6%;
}
/* .update-profile {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
} */
/* text-white bg-primary */