.landing-page {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.landing-title {
  margin-top: 3%;
  font-size: 7rem;
}
.landing {
  padding-left: 95.6px;
  font-size: 6rem;
  color: white;
}
.landing-row {
  background-color: rgba(0, 1, 1, 0.8);
  margin-top: 8%;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}

.landing-column {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.landing-item-hilight {
  text-align: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  border: solid;
  border-width: 1px;
  background: rgb(131, 232, 245);
  background: rgba(33, 77, 83, 0.4);
  width: 40%;
  border-radius: 45px;
}
.landing-item-hilight:hover {
  background: rgb(131, 232, 245);
  background: rgba(131, 232, 245, 0.4);
}

@media screen and (max-width: 825px) {
  .landing-title {
    margin-top: 0;
    padding-left: 30px;
    font-size: 7rem;
    color: black;
  }
}

@media screen and (max-width: 500px) {
  .landing-title {
    text-align: center;
    margin-top: 0;
    padding-left: 0;
    font-size: 5rem;
    color: black;
  }
}

@media screen and (max-width: 414px) {
  .landing {
    padding-left: 0;
    font-size: 3rem;
  }
  .landing-row {
    width: 95% !important;
    margin-right: auto;
    margin-left: auto;
    margin-top: 34%;
  }

  .landing-title {
    display: flex;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  .landing-item-hilight {
    padding: 2px;
    border: solid;
    border-width: 1px;
    width: 40%;
  }
}
