.mainlandingpage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-image: url("../../assets/images/ReikiLoandingPage.jpg");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-page {
  /* background: rgb(250, 248, 248);
    background: rgba(250, 248, 248, 0.3); */
  /* background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); */
  /* color: #f1f1f1; */
  width: 100%;
  /* padding: 20px; */
  margin-right: auto;
  margin-left: auto;
  /* margin-top: 18%; */
}
.landing-row {
  margin-top: 9%;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 1, 1, 0.6);
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}
.landing-title {
  margin-top: 3%;
  padding-left: 30px;
  font-size: 7rem;
  /* color: black; */
}

.landing-column {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.landing-item {
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: 900;
  font-size: 2.5rem;
  cursor: pointer;
  padding: 10px;
  border: solid;
  background: rgb(131, 232, 245);
  background: rgba(131, 232, 245, 0.4);
  width: 50%;
}

.visit-item:hover {
  color: black;
}

@media screen and (max-width: 825px) {
  .landing-title {
    margin-top: 0;
    padding-left: 30px;
    font-size: 7rem;
    color: black;
  }
}

@media screen and (max-width: 500px) {
  .landing-title {
    text-align: center;
    margin-top: 0;
    padding-left: 0;
    font-size: 5rem;
    color: black;
  }
}

@media screen and (max-width: 414px) {
  .landing-title {
    text-align: center;
    margin-top: 0;
    padding-left: 0;
    font-size: 5rem;
    color: black;
  }

  .landing-column {
    display: flex;
    justify-content: space-evenly;
  }
}
