

.landing-page {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.landing-row {
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 1, 1, 0.8);
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}
.landing-title {
  margin-top: 3%;
  padding-left: 30px;
  font-size: 7rem;
}

.landing-column {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
 
}

.landing-item-hilight {
  text-align: center;
  color: white;
  text-decoration: none;
  /* font-weight: 900; */
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  border: solid;
  border-width: 1px !important;
  background: rgb(131, 232, 245);
  background: rgba(33, 77, 83, 0.4);
  width: 40%;
  border-radius: 45px;
  border-width: 2px;
}
.landing-item-hilight:hover {
  background: rgb(131, 232, 245);
  background: rgba(131, 232, 245, 0.4);
}

.visit-item:hover {
  color: black;
}

@media screen and (max-width: 825px) {
  .landing-title {
    margin-top: 0;
    padding-left: 30px;
    font-size: 7rem;
    color: black;
  }
}

@media screen and (max-width: 500px) {
  .landing-title {
    text-align: center;
    margin-top: 0;
    padding-left: 0;
    font-size: 5rem;
    color: black;
  }
}

@media screen and (max-width: 414px) {
  .landing-title {
    text-align: center;
    margin-top: 0;
    padding-left: 0;
    font-size: 5rem;
    color: black;
  }

  .landing-column {
    display: flex;
    justify-content: space-evenly;
  }
}
