.bookingnav1 {
  background-color: rgba(0, 1, 1, 0.8);
  margin-bottom: 2%;
  margin-top: 5%;
}
.media-nav {
  width: 100px !important;
  /* padding: 3% !important; */
  padding-right: 2%;
  padding-left: 2%;
  margin: auto !important;
}
.dashboard-text {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}
.dashboard-text:hover {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-size: 2rem;
  transition: 0.3s;
}
.top-nav-item {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message-btn-modal {
  font-style: normal !important;
}
.modal {
  background: rgba(6, 6, 6, 0.7) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
@media screen and (max-width: 414px) {
  .dashboard-text {
    font-size: 1rem;
  }
  .dashboard-text:hover {
    font-size: 1rem;
  }
  .bookingnav {
    background-color: rgba(0, 1, 1, 0.8);
    margin-bottom: 15% !important;
    margin-top: 7%;
    overflow-x: scroll;
    margin: auto;
    padding-top: 2% !important;
  }
  .media-nav {
    width: 100px !important;
    padding-right: 2;
    padding-left: 2;
    margin: auto !important;
  }
}
