.dovalidate,
.dovalidate1,
.dovalidate2,
.dovalidate3,
.dovalidate4,
.dovalidate5,
.dovalidate6,
.dovalidate7,
.dovalidate8,
.dovalidate9,
.dovalidate11,
.dovalidate12,
.dovalidate13 {
    display: none;
    color: green;
    margin-top: 7px;
    margin-right: 15px;
    margin-left: 15px;
}

.doinvalidate,
.doinvalidate1,
.doinvalidate2,
.doinvalidate3,
.doinvalidate4,
.doinvalidate5,
.doinvalidate6,
.doinvalidate7,
.doinvalidate8,
.doinvalidate9,
.doinvalidate11,
.doinvalidate12,
.doinvalidate13 {
    margin-top: 7px;
    color: red;
    margin-right: 15px;
    margin-left: 15px;

}
