.appointment-card {
  background: rgb(131, 232, 245);
  background: rgba(131, 232, 245, 0.4);
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}
.app-btn:hover {
  background-color: rgb(24, 68, 68) !important;
  transition: 0.3s;
  color: white;
}
.custom-container {
  width: 100%;
}

.react-datepicker {
  background: rgb(2, 62, 70) !important;
  border: solid;
  border-width: 5px !important;
  border-style: double !important;
  border-color: white !important;
}

.react-datepicker__header {
  background-color: black !important;
}

.react-datepicker__time,
.react-datepicker__time-box {
  background: rgba(131, 232, 245, 0.051) !important;
}

.react-datepicker-time__header,
.react-datepicker__current-month,
.react-datepicker__day-name {
  color: rgba(255, 255, 255, 0.693);
}
.react-datepicker__month-container {
  font-weight: bold !important;
}

.react-datepicker__day,
li.react-datepicker__time-list-item {
  font-weight: bold !important;
}

.react-datepicker__portal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(3, 3, 3, 0.92);
  z-index: 2147483647;
}
