.footer {
    margin-top: 5%;
    align-items: center;
}
.text-footer {
    margin-top: 2%;
    text-align: center;
}
.col-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.number {
    align-items: center;
}
.github {
    max-width: 45px;
}

@media screen and (max-width: 414px) {
   
    .footer {
        margin-top: 3%;
        padding: 2%;
        margin-bottom: 5% !important;
        width: 90% !important;
        margin-right: auto;
        margin-left: auto;
    }
}