.footer {
    margin-top: 3%;
    height: 150px;
    align-items: center;
}
.text {
    margin-top: 1%;
    font-size: 1.3rem;
    align-items: center; 
}
.number {
    align-items: center;
    font-size: 1.2rem;
}
@media screen and (max-width: 414px) {
    .footer {
        margin-top: 3%;
        height: 120px;
        align-items: center;
    }
}