.card-app-review {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}
.app-review-header {
  text-align: center;
}
.app-review-t {
  text-align: center;
  background: rgba(0, 1, 1, 0.4);
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
}
.app-review-p {
  padding-left: 3%;
  text-align: center;
}
.card-body {
  padding: 0;
}
.btn-app-review:hover {
  background-color: rgb(24, 68, 68) !important;
  transition: 0.3s;
  color: white;
}
.card-footer {
  justify-content: center;
}
@media screen and (max-width: 414px) {
  .card-app-review {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .footer-review-row {
    background-color: blue;
  }
  .card-footer {
    justify-content: center;
    width: 95%;
    margin: auto;
  }
 }