.checked {
  color: rgb(255, 225, 0);
  border: black;
}

.unchecked {
  color: grey;
  border: black;
}

.fa-star {
  margin-right: 5px !important;
}


@media screen and (max-width: 414px) {
  .fa-star {
    margin-right: 0 !important;
  }
}