.landing-title-side  {
    font-size: 3rem;
    text-decoration: none;
}
.btn-logout {
    border-style: none;
    background-color: Transparent;
    display: flex;
    justify-content: flex-start;
}

.col-items {
    border-bottom-style: solid;
    margin-left: 15px;
    margin-right: 15px;
}
.one {
    display: flex;
    justify-content: space-between;
}
.nav-item-side {
    text-decoration: none;
    color: white;
    width: 100px;
}

.show {
    display: none;
}

.profile-icon-side {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 900px) {
    .show {
        display: block;
    }
}