.container-profile {
  margin-top: 8%;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}
.create-profile-container {
  margin-top: 5%;
  padding: 2%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 1, 1, 0.8);
  width: 90%;
  color: white !important;
  min-height: 50vh;
}
.profile-container {
  margin-top: 5%;
  padding: 2%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 1, 1, 0.8);
  width: 90%;
  color: white !important;
  min-height: 50vh;
}

.card-visitor {
  padding-top: 1%;
  border-radius: 10px;
}
.card-header-profile {
  text-align: center;
}
.title {
  display: block;
  text-align: center;
  color: white;
}

.appointment-for {
  display: block;
}
.genre {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}
.profile {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  border-style: double;
  border-width: 5px;
  border-color: white;
  border-radius: 20px;
}

.form-control {
  font-style: oblique;
}

.Message {
  display: flex;
  overflow: hidden;
  height: 150px;
}

.myClassName {
  width: 100%;
  font-style: oblique;
  width: 100%;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #55595c;
  background-color: #f7f7f9;
  background-clip: padding-box;
  border: 0 solid #ced4da;
}

.phone-update {
  width: 100%;
  font-style: oblique;
  width: 100%;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #55595c;
  background-color: #f7f7f9;
  background-clip: padding-box;
  border: 0 solid #ced4da;
}

.age {
  width: 100%;
  font-style: oblique;
  width: 100%;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #55595c;
  background-color: #f7f7f9;
  background-clip: padding-box;
  border: 0 solid #ced4da;
}
.profile-error {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
.info-review {
  border-style: double;
  background-color: #f7f7f9;
  text-align: center;
}
@media screen and (max-width: 414px) {
  .create-profile-container {
    margin-top: 0% !important;
    padding-top: 0% !important;
    padding: 0%;
    width: 100%;
    color: white !important;
    min-height: 50vh;
  }
  .gender-label { 
    display: flex;
    justify-content: flex-start;
  }
  .genre {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-right: 0;
    margin-left: 0;
  }
}
