
.container-profile {
  padding-top: 3%;
  background-color: rgba(0, 1, 1, 0.8);
  width: 90%;
  color: white !important;
  margin-top: 5%;
}
.my-profile {
  text-align: center;
}
.card-header {
  border: 0;
}
.col-no-profile {
  width: 40%;
  margin: auto;
  padding-bottom: 5% !important;
}
.col-profile {
  width: 40%;
  margin: auto;
}
.profile-body {
  background: rgb(131, 232, 245);
  background: rgba(131, 232, 245, 0.4);
  border-radius: 10px;
  margin-bottom: 5% !important;
}
.update-profile {
  width: 100%;
}
.footer-myprofile {
  position: fixed !important;
  bottom: 0 !important;
  width: 100%;
}
.error {
  height: 60px;
  display: flex;
  align-items: center;
  margin-left: 1%;
}
@media screen and (max-width: 500px) {
  .my-profile-titles  {
    text-align: center;
  }
}
@media screen and (max-width: 414px) {
  .container-profile {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 375px) {
  .footer-myprofile {
    position: relative !important;
  }
}
