.container-profile {
  width: 90% !important;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 1, 1, 0.8);
  margin-top: 5% !important;
  padding: 5%;
}
.my-profile {
  text-align: center;
}

.card-header {
  border: 0;
}
.col-no-profile {
  width: 40%;
  margin: auto;
  padding-bottom: 5% !important;
}
.col-no-profile-login {
  width: 40%;
  margin: auto;
  padding-bottom: 5% !important;
}
.col-profile {
  width: 40%;
  margin: auto;
}
.profile-body {
  border-radius: 10px;
  margin-bottom: 5% !important;
  width: 95% !important;
}
.update-profile {
  width: 95%;
}

.error {
  height: 60px;
  display: flex;
  align-items: center;
  margin-left: 1%;
}

.footer-myprofile {
  position: fixed !important;
  bottom: 0 !important;
  width: 100%;
}
@media screen and (max-width: 1360px) {
  .footer-myprofile {
    position: fixed !important;
    bottom: 0 !important;
    width: 100%;
  }
  }
@media screen and (max-width: 414px) {
  .container-profile {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent;
  }
  .col-profile {
    width: 100%;
    margin-top: 0;
  }
  .profile-body-media {
    border-radius: 10px;
    margin-bottom: 5% !important;
    width: 100% !important;
  }
  .col-no-profile-login {
    width: 100%;
    margin: auto;
    padding-bottom: 5% !important;
  }
}
@media screen and (max-width: 375px) {
  .footer-myprofile {
    position: relative !important;
  }
}
