.container-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url("../../assets/images/ReikiLoandingPage.jpg");
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
 
}

.container-profile {
  margin-top: 8%;
  padding-top: 5%;
  background-color: rgba(0, 1, 1, 0.8);
  width: 90%;
  color: white !important;
}
.my-profile {
  text-align: center;
  /* margin: 10%; */
}
.card-header {
  border: 0;
}
.col-profile {
  width: 40%;
  margin: auto;
}
.profile-body {
  background: rgb(131, 232, 245);
  background: rgba(131, 232, 245, 0.4);
  border-radius: 10px;
}
/* .profile {
  width: 100%;
} */
.update-profile {
  width: 100%;
}
.footer-myprofile {
  position: fixed !important;
  bottom: 0 !important;
  width: 100%;
}
.error {
  height: 60px;
  display: flex;
  align-items: center;
  margin-left: 1%;
}
@media screen and (max-width: 500px) {
  .my-profile-titles  {
    text-align: center;
  }
}
@media screen and (max-width: 414px) {
  .container-profile {
    margin-top: 8%;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 375px) {
  .footer-myprofile {
    position: relative !important;
  }
}
