.dashb-border {
  padding-left: 11%;
  border-left-style: solid;
  border-left-color: rgb(206, 200, 200);
  border-width: 1px;
}
.card-card {
  padding: 3% !important;
}
.optional {
  color: white;
  font-style: oblique;
  font-size: 1rem;
}
.btn-info {
  width: 100%;
}
.review-form-input {
  color: white !important;
  font-style: oblique;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  background: rgb(131, 232, 245) !important;
  background: rgba(13, 50, 55, 0.4) !important;
}

.card-header-review-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.fa-star {
  border-width: thin;
}
.review-error,
.review-confirm {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
@media screen and (max-width: 993px) {
  .review-form {
    margin-bottom: 10%;
  }
}
@media screen and (max-width: 414px) {
  .review-form {
    margin-bottom: 10%;
  }
}
