.container-appointment {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 1, 1, 0.8);
  margin-top: 5%;
  padding: 5%;
}

.goback-appointment {
  margin-top: 5%;
}
.btn-goback-appointment {
  font-size: 1.2rem;
  text-decoration: none;
  background-color: black;
  width: 200px;
  border-radius: 25px;
  border: 0;
}
.btn-goback-appointment:hover {
  background-color: rgb(223, 128, 80);
}

.img-appointment {
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 6%;
  margin-right: 6%;
}
.card-appointment {
  width: 40%;
  background: rgb(131, 232, 245);
  background: rgba(131, 232, 245, 0.4);
  margin-bottom: 5%;
  margin-right: auto;
  margin-left: auto;
}

.card-header-appointment {
  text-align: center;
}
.visit {
  margin: 3%;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  border: none;
  text-align: center;
}
.type-your-text {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.appointment-column {
  width: 100%;
  text-align: center;
}
.form-label {
  margin-top: 5%;
}
.date-picker {
  width: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.choose-date {
  margin-top: 2%;
}
.container-success {
  margin-top: 30%;
}
.appointment-success {
  justify-content: center;
  align-items: center;
  height: 100px;
}
.fa-check {
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  color: white;
  background-color: green;
}
.app-error {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.appoitment-error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
}
.text-container {
  position: relative;
  margin-top: 7%;
  width: 40%;
  margin-left: 6%;
}
.btn-submitapp {
  background-color: black;
}
.btn-submitapp:hover {
  background-color: rgb(223, 128, 80);
}
.footer-appointment {
  clear: both;
}
@media screen and (max-width: 870px) {
  .container-appointment {
    margin-top: 5%;
    margin-bottom: 10%;
    width: 96%;
    margin-right: auto;
    margin-left: auto;
  }
  .card-appointment {
    width: 90%;
    margin-right: 5%;
    margin-left: 0;
    margin-top: 38%;
    margin-bottom: 5%;
  }
  .text-container {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .container-appointment {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent;
    margin-top: 5%;
  padding: 5%;
  }
  .appointment-success {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }

  .card-appointment {
    width: 100%;
    margin-right: 0;
    
  }
  .text-container {
    display: none;
  }
}
/* for iphone X */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .container-appointment {
    height: 85vh;
  }
}
