.success-background {
  background-color: rgba(0, 1, 1, 0.01) !important;
  color: rgba(255, 255, 255, 0.01);
  animation: fadeInSuccess 1.2s linear forwards !important;
  width: 100%;
}
.fa-check {
  background-color: rgba(76, 160, 36, 0.01);
  color: rgba(255, 255, 255, 0.01);
  animation: fadeInFa 1.2s linear forwards !important;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.signup-success {
  color: rgba(255, 255, 255, 1);
}
.success-row {
  margin-right: auto;
  margin-left: auto;
}
@keyframes fadeInFa {
  from {
    background-color: rgba(76, 160, 36, 0.01);
    color: rgba(255, 255, 255, 0.05);
  }
  to {
    background-color: rgba(76, 160, 36, 1);
    color: rgba(255, 255, 255, 1);
  }
}
@keyframes fadeInSuccess {
  from {
    /* backgound: rgba(131, 232, 245, 0.05); */
    color: rgba(255, 255, 255, 0.05);
  }
  to {
    /* background: rgba(131, 232, 245, 0.4); */
    color: rgba(255, 255, 255, 1);
  }
}
