/* .goback-app {
    margin-top: 5%;
  }
  .btn-goback-app {
    font-size: 1.2rem;
    text-decoration: none;
    background-color: black;
    width: 200px;
    border-radius: 25px;
    border: 0;
  }
  .btn-goback-app:hover {
    background-color: rgb(223, 128, 80);
  } 
  .container-app {
height: 100vh;
}
.img-appointment {
    background-image: url("../../assets/images/practitioner.jpeg");
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 4%;
    margin-left: 6%;
    margin-right: 6%;
  }
  .card-app {
    width: 40%;
    position: absolute;
    right: 0;
    margin-right: 2%;
    margin-top: 25%;
    background-color: rgba(236, 234, 231, 1);
  }
  .card-header-app {
    text-align: center;
  }

  .visit-app {
    margin: 3%;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    border: none;
    text-align: center;
  }
  
  .type-your-text {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .appointment-colum {
    width: 100%;
    text-align: center;
  }
  
  .form-label {
    margin-top: 5%;
  }
  
  .date-picker {
    width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  
  .choose-date {
    margin-top: 2%;
  }
  
  .container-success {
    margin-top: 30%;
  }
  
  .appointment-success {
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
  .fa-check {
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    color: white;
    background-color: green;
  }
  .appoitment-error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
  }
  .text-container {
    position: relative;
    margin-top: 7%;
    width: 40%;
    margin-left: 6%;
  }
  .btn-submitapp {
    background-color: black;
  }
  .btn-submitapp:hover {
    background-color: rgb(223, 128, 80);
  }

  .footer-app {
    margin-top: 15%;
  } */