.about-main {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 1, 1, 0.8);
}
.card-about {
  width: "40%";
  padding: 2%;
  background: rgb(131, 232, 245);
  background-color: rgba(131, 232, 245, 0.4);
}
.about-card {
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.choo {
  display: flex;
  justify-content: center;
}
.responsive {
  max-width: 30%;
  height: auto;
  aspect-ratio: 1 / 1;
  background-position: cover;
  border-radius: 50%;
  
}

@media screen and (max-width: 414px) {
  .about {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 5%;
  }

  .about-card {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
