.container-history {
    margin-top: 7%;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}
.history-column {
    margin-top: 4%;
}
.delete-appointment {
    margin-bottom: 2%;
}
.history {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 414px) {
    .container-history {
        margin-top: 7%;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
    .history-column {
        margin-top: 1px;
    }
}