.container-history {
  width: 80%;
    margin: auto;
}
.all-history {
  padding-right: 4%;
}
/* .container-no-history {
  margin-top: 7%;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
} */
.history-header {
  text-align: center;
  height: 30%;
}
.no-history {
  background-color: #e9ececd3;
  border-style: double !important;
  border: solid;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.history-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4%;
}
.history-column {
  margin-top: 4%;
}
.delete-appointment {
  margin-bottom: 2%;
}
.history {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 680px) {
  .appointment-list-title {
    text-align: center;
  }
  .appointment-text {
    text-align: center;
  }
}

@media screen and (max-width: 414px) {
  .no-history {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .container-history {
    margin-top: 15%;
    width: 96%;
    margin-right: auto;
    margin-left: auto;
  }
  .history-column {
    margin-top: 1px;
  }
  .container-no-history {
    margin-top: 15%;
    width: 96%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 375px) {
  .container-no-history {
    margin-top: 15%;
    margin-right: auto;
    margin-left: auto;
  }
}
