.main-nav {
  display: block;
}
.healing-title {
  margin-top: 3%;
  font-size: 7rem;
}

.landing {
  text-decoration: none;
}

.nav {
  margin-top: 2%;
  display: show;
}

.nav-item {
  text-decoration: none;
}

.show-hide {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin: 6px;
  color: rgb(199, 199, 211) !important;
}
.show-hide:hover {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin: 6px;
  color: white !important;
}

.btt-logout {
  border: none;
  background-color: Transparent;
}

.profile-icon {
  margin-left: 16px;
  padding-right: 10px;
}

@media screen and (max-width: 900px) {
  .show-hide {
    display: none;
    flex-direction: column;
  }
  .landing-title {
    margin-top: 0;
    padding-left: 30px;
    font-size: 7rem;
  }
}

@media screen and (max-width: 500px) {
  .landing-title {
    text-align: center;
    margin-top: 0;
    padding-left: 0;
    font-size: 5rem;
  }

  .one {
    text-align: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 414px) {
  .healing-title {
   font-size: 3rem;
  }
  .nav {
    margin-top: 0;
  }
}
