.main-nav {
  display: block;
}

.bg-img {
  /* background-image: url("../../assets/images/jumbo.jpeg"); */
  min-height: 320px;
  /* width: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.healing-title {
  margin-top: 3%;
  /* padding-left: 30px; */
  font-size: 7rem;
  color: black;
}

.landing {
  text-decoration: none;
}

.nav {
  margin-top: 2%;
  display: show;
}

.nav-item {
  text-decoration: none;
}

.show-hide {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin: 6px;
  color: rgb(199, 199, 211) !important;
}
.show-hide:hover {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin: 6px;
  color: white !important;
}


.btt-logout {
  border: none;
  background-color: Transparent;
}

.profile-icon {
  margin-left: 16px;
  padding-right: 10px;
}

@media screen and (max-width: 900px) {
  .show-hide {
    display: none;
    flex-direction: column;
  }
  .landing-title {
    margin-top: 0;
    padding-left: 30px;
    font-size: 7rem;
    color: black;
  }
}

@media screen and (max-width: 500px) {
  .landing-title {
    text-align: center;
    margin-top: 0;
    padding-left: 0;
    font-size: 5rem;
    color: black;
  }

  .one {
    text-align: center;
    flex-direction: column;
  }

  .bg-img {
    min-height: 250px;
  }
}

@media screen and (max-width: 414px) {
  .landing-title {
    text-align: center;
    margin-top: 0;
    margin-left: 0;
    font-size: 5rem;
    color: black;
  }

  .bg-img {
    background-image: url("../../assets/images/jumbo.jpeg");
    min-height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
  }
}
